/* For All The Tags */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: #f7f7f7;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section {
    padding: 80px 0;
}

/* Navbar */

.header {
    background-color: white;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

.nav {
    width: 90%;
    max-width: 1200px;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
}

.logo i {
    color: #ff7a00;
    font-size: 30px;
}

.logo b {
    color: #138808;
}


/* Nav Links */

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-list a {
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-list a:hover,
.nav-list a.active {
    color: #ff7a00;
}


/* Menu */

.menu {
    display: none;
    border: none;
    background: none;
    font-size: 28px;
}


/* Hero */

.hero {
    min-height: 650px;
    display: flex;
    align-items: center;
    color: white;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.45)
        ), url("Images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.hero-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.small-title {
    color: #ff9933;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero h1 span {
    display: block;
    color: #ff9933;
}

.hero-text {
    max-width: 550px;
    color: #eee;
    font-size: 17px;
    margin-bottom: 30px;
}


/* Buttons */

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 13px 22px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.orange-btn {
    background-color: #ff7a00;
    color: white;
}

.orange-btn:hover {
    background-color: #e66d00;
}

.white-btn {
    background-color: #138808;
    color: white;
}

.white-btn:hover {
    background-color: #106d07;
    color: white;
}


/* Scroll */

.scroll {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    display: flex;
    gap: 7px;
    align-items: center;
}

/* Introduction Section */

.intro-section{
    padding: 80px 0px;
    background-color: #f7f7f7;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Section Title */

.title{
    margin-bottom: 45px;
}

.section-label {
    color: #ff7a00;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.title h2{
    font-size: 42px;
    line-height: 1.2;
    color: #222;
}

.title h2 span{
    color: #138808;
}
  
/* Introduction Box */

.intro-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

/* Image */

.intro-img{
    overflow: hidden;
    border-radius: 8px;
}

.intro-img img{
    width: 100%;
    height: 430px;
    object-fit: cover;
    transition: 0.4s;
}

.intro-img:hover img{
    transform: scale(1.03);
}

/* Text */

.intro-text h3{
    font-size: 28px;
    margin-bottom: 18px;
    color: #222;
}

.intro-text p{
    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
}

.intro-text .big-text{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
    
}

/* Read More Button */

.read-btn{
    border: none;
    background: none;
    color: #ff7a00;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.read-btn i{
    transition: 0.3s;
}

/* Hidden More text */

.more-text{
    display: none;
    margin-top: 10px;
}

/* Overview Link */

.link{
    display: inline-flex;
    align-items: center;
    gap: 7px;
    margin-top: 12px;
    color: #138808;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.link:hover{
    color: #ff7a00;
}

/* Medal Section */

.medals{
    padding: 45px 0px;
    background-color: #003366;
}

.medal-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.medal{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px 20px;
    background-color: white;
    border-radius: 8px;
    transition: 0.3s;
}

.medal:hover{
    transform: translateY(-5px);
}

.medal i{
    font-size: 35px;
    color: #ff7a00;
}

.medal h3{
    font-size: 32px;
    line-height: 1;
    color: #003366;
    margin-bottom: 5px;
}

.medal p{
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

/* Journey Section */

.journey{
    background-color: white;
}

/* Journey Title */

.journey .title{
    text-align: center;
    margin-bottom: 40px;
}

/* Small Title */

.journey-label{
    color: #ff7a00;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Main Heading */

.journey .title h2{
    font-size: 40px;
    color: #222;
    margin-top: 8px;
}

/* Green Word */

.journey .title h2 span{
    color: #138808;
}

/* Description */

.sub-text {
    color: #666;
    font-size: 15px;
    max-width: 600px;
    margin: 15px auto;
}

/* Journey Cards */

.journey-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

/* Card */
.journey-card{
    position: relative;
    background-color: #f7f7f7;
    padding: 30px 25px;
    border: 1px solid #eee;
    border: 8px;
}

/* Card Number */
.card-number{
    position: absolute;
    top: 15px;
    right: 20px;
    color: #aaa;
    font-size: 13px;
    font-weight: bold;
}

/* Card Icon */
.card-icon{
    width: 55px;
    height: 55px;
    background-color: #fff1e6;
    color: #ff7a00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.card-icon i{
    font-size: 27px;
}

/* Card Heading */
.journey-card h3{
    font-size: 23px;
    margin-bottom: 10px;
}

/* Card Paragraph */
.journey-card p{
    color: #666;
    font-size: 15px;
    margin-bottom: 18px;
}

/* Read Story Button */
.story-btn{
    border: none;
    background: none;
    color: #138808;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* Story Content */
.story{
    display: none;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.story p{
    color: #555;
    font-size: 14px;
}

/* Explore Full Journey Button */

.center{
    text-align: center;
    margin-top: 40px;
}

.dark-btn{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #222;
    color: white;
    padding: 13px 22px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
/* ------- FOR MOBILE SCREEN ------- */

@media (max-width: 680px) {

    .header {
        height: 65px;
    }

    .nav {
        height: 65px;
    }

    /* Menu Button */

    .menu {
        display: block;
        border: none;
        background: none;
        font-size: 28px;
        color: #003366;
    }

    /* Dropdown Menu */

    .nav-list {
        display: none;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        gap: 0;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .nav-list li {
        width: 100%;
    }

    .nav-list a {
        display: block;
        width: 100%;
        padding: 15px 5%;
        border-bottom: 1px solid #eeeeee;
    }


    /* Mobile Hero */

    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero-text {
        font-size: 15px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .intro-section{
        padding: 60px 0;
    }
    .title h2{
        font-size: 34px;
    }

    .intro-box{
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .intro-img img{
        height: 300px;
    }

    .intro-text h3{
        font-size: 25px;
    }

    .intro-text .big-text{
        font-size: 17px;
    }

    .medals{
        padding: 35px 0px;
    }

    .medal-box{
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .medal{
        padding: 20px 15px;
        gap: 10px;
    }

    .medal i{
        font-size: 28px;
    }
    .medal h3{
        font-size: 25px;
    }

    .medal p{
        font-size: 12px;
    }

    .journey{
        padding: 60px 0px;
    }

    .journey .title h2{
        font-size: 32px;
    }

    .sub-text{
        font-size: 14px;
    }

    .journey-box{
        grid-template-columns: 1fr;
        gap: 18px;
    }

    .journey-card{
        padding: 25px 20px;
    }

    .journey-card h3{
        font-size: 21px;
    }
}